:root {
  --marg-1: calc(25% - 30px);
}

body {
  margin: 0;
}

h1 {
  font-size: 50px;
  font-weight: 900;
  line-height: 50px;
  display: inline;
  /* background-color: aqua; */
  font-family: "Frank Ruhl Libre", "Times New Roman", Times, serif;
}
h2 {
  font-size: 40px;
  font-weight: bold;
  display: inline;
  /* background-color: aqua; */
  font-family: "Frank Ruhl Libre", serif;
}

p {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  /* color: #777; */
}

button {
  /* float: right; */
  /* position: absolute; */
  /* bottom: 0;
  right: 0; */

  width: 150px;
  height: 46px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  border-radius: 23px;
  border: none;
}

.empty {
  height: 400px;
  background-color: #999;
}

nav {
  display: flex;
  justify-content: center;
  gap: 12%;

  background-color: #eee;
}
nav a {
  margin-block: 30px;
  text-decoration: none;
  color: #aaa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 650px) {
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    justify-items: center;
    align-items: center;

    gap: 0;
    margin: 0;

    height: 180px;
  }
  nav a {
    align-self: stretch;
    justify-self: stretch;
    margin: 0;
    padding-block: 34px;
    text-align: center;
  }
}
